* {
    font-family: 'Advent Pro';
    margin: 0; 
    padding: 0; 
}

html, body {
    background-image: linear-gradient(to bottom right, #fffbe7, #a5b0bb);
}

#home {
    border: 1px solid grey; 
    height: 500px;
    margin: 0 auto; 
    display: flex;
    align-items: center;
    justify-content: center;
}

#home-2 {
    display: flex; 
    flex-direction: column;
    align-items: center;
    border: 1px solid grey; 
    padding: 5px; 

}

.itemInForm {
    width: 250px; 
    height: 100%;
    justify-content: space-between;
    display: flex; 
}

.submitInForm {
    margin-top: 5px; 
    width: 100%;
    background-color: #a5b0bb;
    border-radius: 0px;
    border-radius: 2px; 
}

.submitInForm:hover {
    background-color: #8097ad;
    color: #D9E1E5;
}

.updateForm {
    background-color: #849A9D;
    width: 100%;
    border-radius: 0px;
    border-radius: 2px; 
}

.updateForm:hover {
    background-color: #e2ddd3;
}

.loginStatus {
    border-radius: 2px; 
    border: 2px solid #413e42; 
    margin-top: 5px; 
    width: 100%;
    text-align: center;
    background-color: ivory;
    font-size: 13px; 
}

.green {
    background-color: greenyellow;
}

.red {
    background-color: #FF6565;
}

.grey {
    background-color: silver;
}

.home-header {
    font-weight: bold;
    font-size: 20px; 
    margin-bottom: 5px; 
    font-family: 'Advent Pro';
}

.cc {
    border: 1px solid grey; 
    height: 500px;
    margin: 0 auto; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.navHeader {
    color: #334651;
}

#nav {
    border: 1px solid black; 
    padding: 10px;
    width: 400px; 
    display: flex;
    justify-content: space-around;
    background-color: #8097ad;
    background-image: linear-gradient(to bottom right, #8097AD, #D9E1E5);
}

.nav-item {
    color: black; 
    font-weight: bold; 
    text-decoration: none; 
}

.nav-item:visited {
    color: black; 
}

.nav-item:hover {
    color: #961089; 
}

.outerCon {
    display: block;
}

.innerCon {
    display: flex;
    justify-content: center;
}

.innerHeaderCon {
    background-color: #334651;
    color: #D9E1E5;
    display: flex;
    width: 350px;   
    justify-content: space-between;
    padding: 5px; 
}

.player-info {
    border: 1px solid black;
    padding: 10px; 
}

.loginLoadCon {
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 40px; 
    border: 1px solid black; 
    margin-top: 5px; 
}

.loadingCon {
    display: flex; 
    justify-content: center;
    align-items: center;
}

.loading {
    border: 5px solid #ccc; 
    width: 25px; 
    height: 25px; 
    border-radius: 50%; 
    border-top-color: #961089;
    border-left-color: #961089;
    border-right-color: #dbdbdb;
    border-bottom-color: #dbdbdb;

    animation: spin 0.5s infinite ease-in-out;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(720deg);
    }
}

.playersOutDiv {
    display: flex; 
    justify-content: center;
}

.playersTable {
    width: 350px; 
    border: 1px solid black;
    border-collapse: collapse;
}

.playersTable tr:nth-child(even) {
    background-color: #849A9D;
}

.playersTable tr:nth-child(odd) {
    background-color: #A0A6B3;
  }

.playersTable th {
    background-color: #7D8AA3;
    text-align: left;
    padding: 5px;
    border-bottom: 1px solid black;
}

.playersTable td {
    text-align: left;
    padding: 5px;
    border-bottom: 1px solid black;
  }

  .playersTable tr {
    border-bottom: 1px solid black;
  }

.updateStatsInputHeader {
    width: 350px; 
    justify-content: space-between;
    display: flex; 
    background-color: #849A9D;
}

.updateStatsInput {
    background-color: #A0A6B3;
    width: 350px; 
    justify-content: space-between;
    display: flex; 
}


.updateFormDiv {
    display:flex; 
    justify-content: center;
    flex-wrap: wrap; 
    flex-direction: column;
}

.updateFormDivInner {
    display:flex; 
    justify-content: center
}

.changeStatsBtn {
    width: 33%;
}

.changeStatsBtnWrap {
    width: 350px; 
    display: flex;
    justify-content: center;
}

.updateResultsSuccess {
    background-color: #51ff65;
    width: 350px; 
}

.updateResultsFail {
    background-color: #FF6565;
    width: 350px; 
}

.innerContWrapper {
    display: flex;
    width: 350px;   
    justify-content: center;
    border-bottom: 1px solid black; 
}

.selectInChangeStats {
    width: 157px; 
}

.numberInputInStatsChange {
    width: 153px; 
}

.innerConStats {
    display: flex;
    justify-content: center;
}

.changeStatsLink {
    display: flex;
    justify-content: center;
    width: 350px; 
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: slategrey;
    padding-top: 3px; 
    padding-bottom: 3px; 
}

.menuButtonWrapper {
    height: 100%;
}

.menuButtonWrapper button {
    height: 100%; 
}

.innerhistoryWrapper {
    width: 350px; 
}

.innerhistoryWrapper img{
    width: 150px; 
}

.historyContent {
    width: 350px; 
    display: flex;
    justify-content: center;
    background-color: #A0A6B3;
    border-bottom: 1px solid black; 
    flex-direction: column;
    align-items: center;
}

.historyContentEven {
    width: 350px; 
    display: flex;
    justify-content: center;
    background-color: #334651;
    color: #D9E1E5;
}

.eventWrapper{
    width: 330px; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px  solid black; 
    padding: 5px; 
    margin: 5px; 
}

.eventWrapperInner {
    width: 330px; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #A0A6B3;
    color: black; 
}

.eventWrapperInnerEven {
    width: 330px; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: black; 
}

.eventHeader {
    font-weight: bold; 
    font-size: 18px; 
    text-align: center; 
    text-decoration: underline;
    background-color: #849A9D;
}

.eventWrapperItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #A0A6B3;
}

.eventWrapperItemEven {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #849A9D;
}

#home-2 img{
    width: 150px; 
}

.historyTable {
    border-collapse: collapse;
    width: 330px; 
}

.historyTable .historyHeader{
    text-align: center;
    font-size: 20px;
    background-color: #7D8AA3;
}

.historyTable tr:nth-child(even) {
    background-color: #A0A6B3;
}

.historyTable tr:nth-child(odd) {
    background-color: #849A9D;
    
  }

.historyTable th {
    text-align: left;
}

.historyTable td {
    text-align: left;
    text-align: right; 
  }

.mainBtn {
    color: black; 
    background-color: #8097AD;
    font-weight: bold; 
    padding: 2px; 
}

.mainBtn:hover {
    color: #D9E1E5; 
    background-color: #4d6072;
}


.learnWrapperOuter {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.learnWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 350px; 
}

.learnHeaderText {
    padding: 3px; 
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 20px; 
}

.learnHeader {
    display: flex;
    flex-direction: column;
}
.learnHeader img{
    width: 350px; 
}

.learnItem {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.learnInfo {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.learnInfoBtn {
    padding: 5px;
    font-size: 13px;
    font-weight: bold; 
    background-color: #7D8AA3;
}

.learnInfoBtn:hover {
    color: #D9E1E5; 
    background-color: #4d6072;
}

.learnInfoOuter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.learnInfoTable {
    background-color: #A0A6B3;
    border-collapse: collapse;  
    border: 1px solid black;
    width: 350px; 
}

.learnInfoTable tr:nth-child(even) {
    background-color: #849A9D;
}

.learnInfoTable tr:nth-child(odd) {
    background-color: #A0A6B3;
  }

.learnInfoTable th {
    background-color: #7D8AA3;
    text-align: left;
}

.learnInfoTable td {
    font-size: 13px; 
    text-align: left;
    padding-left: 2px; 
  }

  .learnInfoTable tr {
      border: 1px solid black;
  }

.learnInfoInnerTable {
    border: 1px solid black;
    border-collapse: collapse; 
    width: 100%; 
}

.learnInfoInnerTable th {
    font-size: 10px;
}

.learnInfoInnerTable td {
    font-size: 12px;
}

tr td:last-child{
    white-space:nowrap;
}

.knob {
    width: 150px; 
    height: 150px; 
}

.lotteryTable {
    background-color: #A0A6B3;
    border-collapse: collapse;  
    width: 350px; 
}

.lotteryTable tr:nth-child(even) {
    background-color: #849A9D;
}

.lotteryTable tr:nth-child(odd) {
    background-color: #A0A6B3;
  }

.lotteryTable th {
    background-color: #7D8AA3;
    text-align: left;
}

.lotteryTable td {
    font-size: 13px; 
    text-align: left;
    padding-left: 2px; 
  }

  .lotteryTable tr {
  }


  .lotteryBtns {
      width: 350px;
  }

  .lotteryBtn {
      width: 50%; 
}

.addNameLabel {
    font-weight: bold;
    font-size: 20px; 
}

.addPlayerToLotteryInput {
    background-color: #334651;
    color: #D9E1E5;
    width: 350px; 
    justify-content: space-between;
    display: flex; 
}

.lotteryHeader {
    color: #494949
}

.addNameInput {
    width: 50%;
}

#canvas {
    
}